<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/event-stream; charset=utf-8"/>
    <title>채팅방</title>
    <script th:src="@{/js/lib/jquery-3.7.1.min.js}"></script> <!-- jquery -->
    <script th:src="@{/js/socket-chat.js}"></script>
    <script th:src="@{/js/lib/sockjs-client_1.5.1_sockjs.js}"></script> <!-- socket js -->
    <script th:inline="javascript">
        const channel = [[${channel}]]
    </script>
</head>
<body>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-inline">
                <div class="form-group">
                    <label for="connect">채팅방 연결하기 :</label>
                    <button id="connect" class="btn btn-default" type="button" onclick="connect()">Connect</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                <div class="form-group">
                    <label for="content">채팅 내용입력</label>
                    <input type="text" id="content" class="form-control" placeholder="Your name here..." onkeyup="if(window.event.keyCode==13) { send(); }">
                    <button class="btn btn-default" type="button" onclick="send()">전송</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>안녕하세요.</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>