<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/event-stream; charset=utf-8"/>
    <title>채팅방</title>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">채팅방 연결하기:</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="content">채팅 내용입력</label>
                    <input type="text" id="content" class="form-control" placeholder="Your name here...">
                </div>
                <button class="btn btn-default" type="button" onclick="sendMessage()">Send</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Greetings</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>

<script>
    let openChatUrl, subUrl, sendChatUrl, id;
    $(document).ready(() => {
       const param = new URLSearchParams(window.location.search);
       id = param.get('id')
       openChatUrl = `http://localhost:8724/socket/sp/open/chat`;
       sendChatUrl = `http://localhost:8724/socket/sp/send/chat/${id}`;
       subUrl = `/sub/message/${id}`
       connect();
    })

    function connect() {
        let socket = new SockJS(openChatUrl);
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            setConnected(true);
            console.log('Connected: ' + frame);
            stompClient.subscribe(subUrl, function (msg) {
                console.log(msg)
                $('#greetings').append(`<div>${msg.body}</div>`)
            });
        });
    }

    function sendMessage() {
        let content = document.getElementById('content').value;
        $.ajax({
            url: sendChatUrl,
            data: JSON.stringify({ content: content}),
            method: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: (r) => {
                console.log(r)
            },
            error: (e) => {
                console.log(e)
            }
        })
    }

    var stompClient = null;

    function setConnected(connected) {
        $("#connect").prop("disabled", connected);
        $("#disconnect").prop("disabled", !connected);
        if (connected) {
            $("#conversation").show();
        }
        else {
            $("#conversation").hide();
        }
        $("#greetings").html("");
    }

    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

    function showGreeting(message) {
        $("#greetings").append("<tr><td>" + message + "</td></tr>");
    }

    $(function () {
        $("form").on('submit', function (e) {
            e.preventDefault();
        });
        $( "#disconnect" ).click(function() { disconnect(); });
    });

</script>